main {
    section {
        padding: 50px 15px;

        @media (min-width: 768px) {
            padding: 50px 20px;
        }
    }

    .main-info {
        text-align: center;
        line-break: loose;

        &_title1 {
            // font-size: 13px;
            color: $accent-color;
            font-family: 'Fira Sans', sans-serif;
        }

        &_title2 {
            font-size: 29px;
            font-family: 'Abril Fatface', sans-serif;
            font-weight: 400;
            color: rgb(128, 129, 141);
            &:hover {
                color: $blue-bg;
            }
        }

        &_for {
            color: rgb(128, 129, 141);
            font-size: 23px;
        }

        &_number {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
            font-size: 30px;
            padding: 8px 0;
            border-radius: 20px;
            background: $accent-color;
            max-width: 330px;
            margin: 0 auto;

            align-self: center;
            align-content: stretch;
            width: 100%;

            text-transform: uppercase;
            transition: all 300ms linear;

            &:hover {
                background: $footer-color ;
                color: white;
            }

            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 960px) {
                font-size: 30px;
            }

            img {
				width: 30px;
				height: 30px;

				@media (min-width: 960px) {
					width: 30px;
					height: 30px;
				}
			}

			@media (min-width: 768px) {
				font-size: 20px;
			}

			@media (min-width: 960px) {
				font-size: 30px;
			}
        }
    }

    .help-on-site {
        color: white;
        line-break: loose;
        display: flex;
        flex-direction: column;

        @media (min-width: 1028px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        h2 {
            font-family: 'Abril Fatface', sans-serif;
            font-weight: 400;
        }

        &_number {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
            font-size: 30px;
            padding: 8px 0;
            border-radius: 20px;
            background: $footer-color;
            max-width: 330px;

            align-self: center;
            align-content: stretch;
            width: 100%;

            text-transform: uppercase;
            transition: all 300ms linear;

            &:hover {
                background: $accent-color;
                color: white;
            }

            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 960px) {
                font-size: 30px;
            }
            @media (min-width: 1028px) {
                order: 3;
                grid-column: 1/2;
                grid-row: 2/3;
                align-self: center;
                justify-self: start;
                margin: 0;
            }

            img {
				width: 30px;
				height: 30px;

				@media (min-width: 960px) {
					width: 30px;
					height: 30px;
				}
			}

			@media (min-width: 768px) {
				font-size: 20px;
			}

			@media (min-width: 960px) {
				font-size: 30px;
			}
        }

        .block-first {
            @media (min-width: 1028px) {
                order: 1;
                grid-row: 1/2;
            }
        }

        .block-second {
            @media (min-width: 1028px) {
                order: 2;
                grid-row: 1/3;
            }
        }
    }

    iframe {
        width: 100%;
        height: 500px;
    }

}