@import "normalize";
@import "fonts";

$blue-bg: rgb(71, 120, 170);
$footer-color: #ffb26b;
$accent-color:  #1e1b1d;
$main-bg: rgb(24, 26, 52);

html {
    scroll-behavior: smooth;
}

.main_bg {
    background: $main-bg;
}

.hide {
    display: none;
}

.transparent_background {
    background-color: rgba($accent-color, .8);
}

* {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

@import "header";
@import "main";
@import "footer";