@import "normalize";
@import "fonts";

$blue-bg: rgb(71, 120, 170);
$footer-color: #ff847c;
$accent-color:  #746a8d;
$main-bg: rgb(24, 26, 52);
$white: #FFFFFF;

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/backgrounds/joey-kyber-45FJgZMXCK8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main_bg {
    background-color: rgba(#000, .5);
}

.hide {
    display: none;
}

.transparent_background {
    background-color: rgba($accent-color, 1);
}

* {
    font-family: Roboto, sans-serif;
    text-wrap: pretty;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

@import "header";
@import "main";
@import "footer";